#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#navbar a.active {
  color: gray;
}

#navbar {
  display: flex;
}

a:hover {
  cursor: pointer;
}

.feedItem{
  margin: 1vw;
  border: solid red 2px;
  display: flex;
  flex-direction: column;
}

.pageItem {
  margin: 1vw;
  border: solid orange 2px;
}

.fullReview {
  margin: 1vw;
  border: solid lightskyblue 1px;
}

img {
  height: 50px;
}

#homepage {
  display: flex;
}

#navButtons {
  border: 1px solid black;
}

#mainComponents {
  border: 1px solid black;
}

#badSubmit {
  color: red;
}
#badPw {
  color: maroon;
}

form {
  display: flex;
  flex-direction: column;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

#registerForm {
  display: flex;
  flex-direction: column;
}